# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.tlog
*.ilk
*.filters
.vs/CFixedPoint/v16/.suo
*.ipch
*.log
*.user
*.db
*.idb
Win32/Debug/build/CFixedPoint.vcxproj.FileListAbsolute.txt
Win32/Debug/build/CFixedPointTests.vcxproj.FileListAbsolute.txt
x64/Debug/build/CFixedPoint.vcxproj.FileListAbsolute.txt
x64/Debug/build/CFixedPointTests.vcxproj.FileListAbsolute.txt
*.db-wal
*.opendb
*.db-shm
